.App-header {
    background-color: #D4F3FD;
    min-height: 88vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    color: black;
  }
  
.App-link {
  color: #61dafb;
}

.Type-header { 
  color: #3874CB;
}

.Header-text {
  font-size: clamp(1rem, 3vw, 2rem);
  padding: 5vw;
}