.About-me {
    padding: 2.5rem;
    min-height: max-content;
}

.About-link {
    text-decoration: None;
    color: #3874CB;
}

.About-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.About-container-child {
    flex: 50%;
    padding-right: 2rem;
}

.About-description {
    text-align: left;
    font-size: large;
}

.Profile-Img {
    width: 35vh;
    height: auto;
    box-shadow: 1.6vw 1.6vw #D4F3FD;
}

@media (max-width: 700px) {
    .About-container  {
        flex-direction: column;
    }
    .About-container-child {        
        flex: 100%;
        padding-right: 0rem;
        padding-top: 1rem;
    }
  }


