* {
    box-sizing: border-box;
}

.Art {
    padding: 2.5rem;
    min-height: max-content;
}

.Row {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.Column {
    flex: 50%;
    max-width: 50%;
    padding: 0 10px;
}

.Column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

.Column p {
    font-size: large;
}

@media screen and (max-width: 800px) {
    .Column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
  }
