.NavbarItems {
    background: #D4F3FD;
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(0.6rem, 1.6vw, 1.3rem);
    width: 100%;
}

.navbar-logo {
    justify-self: start;
    margin-left: 5vw;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 8vw;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
    margin-right: 2rem;
}

.nav-links {
    text-align: center;
    width: 100%;
    /* display: table; */
    color: black;
    text-decoration: none;
    /* border-bottom: 2px solid transparent; */
    display: inline-block;
    position: relative;
}

.nav-links:hover {
    cursor: pointer;
}

.nav-links::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #3874CB;
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
  }
  
  .nav-links:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }